h1 {
    color: white !important; /* makes it the most important and applies it instanlty even though they might be id's and classes */
}

div {
    width: 100%;
    max-width: 750px;
    height: 200px;
    /*background-color: black;*/
}

.textExample {
    color: white;
    background-color: black;
    width: 100%;
    max-width: 650px;
    /* Dont use height: 200px, because it makes it unresponsive */
    /* Only use height when using: height: 80vh
    viewport height is just 80% of the height of the page
    */
    height: 100vw;
    border: 1px solid red;
    font-size: 12px;
    font-weight: 600; /* 600 = BOLD */
    font-family: Georgia, 'Times New Roman', Times, serif; /* Use google fonts to choose great fonts */
}

/* Speceficity is the prioritization of the styling */

.specificity { /* use . then the name of the class */
    background-color: black;
}

#red {
    color : red;
}

.blue {
    color: blue;
}

#home {
    border: 2px solid red;
    height: 300px;
}

#about {
    border: 2px solid red;
    height: 300px;
}

#info {
    border: 2px solid red;
    height: 300px;
}

h1 {
    color: black;
}

/* Box Model */

/* A container that consists of muiltiple different properties */

/* 
1. Content(text)
2. Padding
3. Border
4. Margin

In that order
*/


/*
Display property:

Block:
- Takes 100% of thw dith and starts on a new line
- eg. <p> <div> tags

Inline:
- Doesn't allow you to set a width or height for element & starts on the same line
- eg. <span> <img> tafs
*/

.displayPractice {
    background-color: white;
}


/*
Position:

static(default):
- Follows normal flow of the page

relative:
- Follows normal flow of the page
- Lets you position using top, left, bottom, right
*/
